.w{
    color: blue;
    font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
}
body{
    background-color: darkkhaki;
    margin-right: 20px;
}
img{
    border-radius: 10px;
    height: 90vh;
    width: 70%;
}
.p{
    font-family: FreeSerif;
    color: cyan;
    background-color: black;
}
.lk{
    width: 100px;
    height: 50vh;
}